<h1> Links </h1>

<ul class='links'>
  <% @links.each do |link| %>
  <li>
    URL:   <%= link.url   %>
    Title: <%= link.title %>
    Tags: <% link.tags.each do |tag| %>
      <%= tag.name %>
      <% end %>
  </li>
  <% end %>
</ul>


<form action='/links/new'>
  <input type='submit' value='Add Link'>
</form>

<form action='/tags/bubbles'>
  <input type='submit' value='Filter by Tags'>
</form>
