<h1> Links </h1>

<ul class='links'>
  <% @links.each do |link| %>
  <li>
    URL:   <%= link.url   %>
    Title: <%= link.title %>
  </li>
  <% end %>
</ul>

<form action='/links/new'>
  <input type='submit' value='Add Link'>
</form>
